@media all and (max-width: 500px) {
    .index-banner {
        .index-banner-img {
            img {
                width: 100%;
                height: 100vh;
                // object-fit: cover;
                transform: scaleX(3);

            }

            .index-banner-txt {
                background: white;
                height: 280px;
                width: 340px;
                position: absolute;
                top: 40%;
                left: 50%;

                .i-b-t-tit {
                    font-size: 30px;
                    width: 300px;
                }

                .i-b-t-sub {
                    font-size: 15px;
                }
            }
        }
    }

    //!! ............ part 02 starts



    .index-des {
        height: 100%;
        display: flex;
        flex-direction: column;

        // align-items: center;

        .index-des-vid {

            order: 1;

            #vid-01 {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .index-des-text {
            padding-top: 10%;
            order: 0;

            .index-des-text-tit {
                font-size: 16px;
                font-family: 'Tinos', sarif;
                font-weight: bold;
                letter-spacing: 2px;
                margin-left: 20px;
            }

            .index-des-text-des {
                font-size: 20px;
                font-family: 'Kiwi Maru', sarif;
                margin-left: 20px;

            }
        }
    }


    //!! part 3 starts....................



    .index-promo {
        margin-top: 10%;
        height: 100%;


        .index-promo-1 {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 90%;
            margin: auto;

            .index-promo-1-img {
                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }

            .index-promo-1-txt {
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                color: #224641;

                >* {
                    margin: 20px 0;
                }

                .index-promo-1-txt-tit {
                    font-family: 'Kanit', sarif;
                    font-size: 35px;
                }

                .index-promo-1-txt-des {
                    font-family: 'Kanit', sarif;
                    font-size: 18px;
                    width: 100%;
                }
            }
        }

        .index-promo-2 {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 90%;
            margin: 20px auto;

            .index-promo-2-img {

                order: 0;

                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                }
            }

            .index-promo-2-txt {
                order: 1;
                margin-left: 0;

                >* {
                    margin: 10px 0;
                }

                .index-promo-2-txt-tit {
                    font-family: 'Kanit', sarif;
                    font-size: 35px;
                }

                .index-promo-2-txt-des {
                    font-family: 'Kanit', sarif;
                    font-size: 20px;
                    width: 100%;
                }
            }
        }
    }


    //!! part 04 starts............................



    .fun-safe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >* {
            margin-top: 20px;
        }

        .fs-01,
        .fs-03,
        .fs-04 {
            img {
                width: 100%;
                margin: auto;
            }
        }
    }
}