.signup {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 5% auto;

    .signup-top {
        background-color: #ff5100bd;
        color: #fff;
        text-align: center;

        h2 {}
    }

    .signup-form {
        padding: 20px;
        background-color: #fff;

        >* {
            width: 100%;
            height: 35px;
        }
    }

    .sgnup-btn {
        text-align: center;
        @extend .button-3;
        width: 100%;
    }
}



@media all and (max-width: 1050px) {
    .signup {
        width: 40vw;
    }
}



@media all and (max-width: 500px) {
    .signup {
        width: 80vw;
    }
}