@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.button-1, .nav-button, .index-banner-nav .banner-button, .shop-banner-nav .shop-banner-button {
  font-size: 14px;
  font-family: 'Kanit', sarif;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.button-2 a, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

.button-2 a::before, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.button-2 a:hover::before, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a:hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button-2 a:hover::after, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button-2 a::after, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.button-2 a span, .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a span {
  position: relative;
  z-index: 3;
}

.button-3, .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-btn, .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-btn {
  border: 1px solid #f44336;
  color: #f44336;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  font-family: 'Kanit', sarif;
  letter-spacing: 2px;
}

.button-3:hover, .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-btn:hover, .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-btn:hover {
  background-color: #f44336;
  color: white;
}

.nav-container {
  position: relative;
}

.nav-container .main-nav .hamburger {
  display: none;
}

.nav-container .main-nav .hamburger:focus {
  outline: none;
}

.nav-container .main-nav .nav-whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .main-nav .nav-whole .nav-left {
  width: 100%;
  text-align: left;
}

.nav-container .main-nav .nav-whole .nav-left .mob {
  display: none;
}

.nav-container .main-nav .nav-whole .nav-center {
  width: 100%;
  text-align: center;
}

.nav-container .main-nav .nav-whole .nav-center a {
  text-decoration: none;
}

.nav-container .main-nav .nav-whole .nav-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-container .main-nav .nav-whole .nav-right > * {
  margin: 0 20px;
}

.nav-container .main-nav .nav-whole .nav-right .search-full {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}

.nav-container .main-nav .nav-whole .nav-right .search-full .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: crimson;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 4;
}

.nav-container .main-nav .nav-whole .nav-right .search-full .search:hover {
  cursor: pointer;
}

.nav-container .main-nav .nav-whole .nav-right .search-full .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-container .main-nav .nav-whole .nav-right .search-full .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:hover {
  cursor: pointer;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:focus {
  width: 170px;
  opacity: 1;
  cursor: text;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-container .main-nav .nav-whole .nav-right .search-full input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.nav-container .main-nav .nav-whole .nav-right .search-full input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

@media all and (max-width: 1050px) {
  .nav-container {
    position: relative;
  }
  .nav-container .main-nav .nav-whole .nav-left .hamburger {
    display: block;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
    border: none;
  }
  .nav-container .main-nav .nav-whole .nav-left .hamburger :focus {
    outline: none;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul {
    position: absolute;
    top: 7vh;
    width: 100%;
    height: 88vh;
    background-color: white;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 5;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .mob {
    display: block;
    text-decoration: none;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul > * {
    margin-top: 30px;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .nav-button {
    font-size: 15px;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .mob-search-full {
    position: relative;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .mob-search-full .mob-search {
    height: 60px;
    width: 80vw;
    border: none;
    background-color: #87b3a4;
    color: white;
    font-size: 18px;
    padding: 10px;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .mob-search-full button {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 60px;
    width: 20vw;
    padding: 10px;
    background: #87b3a4;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
  }
  .nav-container .main-nav .nav-whole .nav-left .show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-container .main-nav .nav-whole .nav-right .desk {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .nav-container {
    position: relative;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul {
    position: absolute;
    top: 8vh;
    width: 100%;
    height: 92vh;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul > * {
    margin-top: 30px;
  }
  .nav-container .main-nav .nav-whole .nav-left .nav-ul .nav-button {
    font-size: 15px;
  }
  .nav-container .main-nav .nav-whole .nav-right .desk {
    display: none;
  }
}

.index-banner-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 6;
  height: 60px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px auto;
}

.index-banner .index-banner-img {
  position: relative;
  overflow-X: hidden;
}

.index-banner .index-banner-img img {
  width: 100%;
  height: 100vh;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

.index-banner .index-banner-img .index-banner-txt {
  background: white;
  height: 250px;
  width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-banner .index-banner-img .index-banner-txt > * {
  margin: 5px;
  color: #224641;
}

.index-banner .index-banner-img .index-banner-txt .i-b-t-tit {
  font-size: 50px;
  font-family: 'Lora', serif;
  font-weight: bolder;
}

.index-banner .index-banner-img .index-banner-txt .i-b-t-sub {
  font-size: 24px;
  font-family: 'Lora', serif;
}

.index-des {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-des .index-des-vid #vid-01 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-des .index-des-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #D1D3D5;
  color: #004C45;
}

.index-des .index-des-text .index-des-text-tit {
  font-size: 18px;
  font-family: 'Tinos', sarif;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 100px;
}

.index-des .index-des-text .index-des-text-des {
  font-size: 34px;
  font-family: 'Kiwi Maru', sarif;
  margin: 30px 0 0 100px;
}

.index-promo {
  margin-top: 10%;
}

.index-promo .index-promo-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.index-promo .index-promo-1 .index-promo-1-img img {
  width: 50vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 50vh;
  display: block;
}

.index-promo .index-promo-1 .index-promo-1-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #224641;
}

.index-promo .index-promo-1 .index-promo-1-txt > * {
  margin: 10px 0;
}

.index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-tit {
  font-family: 'Kanit', sarif;
  font-size: 50px;
}

.index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-des {
  font-family: 'Kanit', sarif;
  font-size: 20px;
  width: 500px;
}

.index-promo .index-promo-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.index-promo .index-promo-2 .index-promo-2-img img {
  width: 50vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 50vh;
  display: block;
}

.index-promo .index-promo-2 .index-promo-2-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #224641;
  margin-left: 10%;
}

.index-promo .index-promo-2 .index-promo-2-txt > * {
  margin: 10px 0;
}

.index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-tit {
  font-family: 'Kanit', sarif;
  font-size: 50px;
}

.index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-des {
  font-family: 'Kanit', sarif;
  font-size: 20px;
  width: 500px;
}

.fun-safe {
  width: 80vw;
  margin: 10% auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20vw)[4];
      grid-template-columns: repeat(4, 20vw);
  -ms-grid-rows: minmax(200px, auto);
      grid-template-rows: minmax(200px, auto);
  grid-gap: 1vw;
}

.fun-safe .fs-01 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.fun-safe .fs-01 img {
  width: 100%;
}

.fun-safe .fs-02 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.fun-safe .fs-02 .fs-02-cont .fs-02-cont-bar {
  text-align: left;
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #ff5100;
  margin-bottom: 17px;
  -webkit-transition: width 1s cubic-bezier(0.5, 0, 0.5, 1) 1s;
  transition: width 1s cubic-bezier(0.5, 0, 0.5, 1) 1s;
}

.fun-safe .fs-02 .fs-02-cont .fs-02-cont-txt {
  font-size: 30px;
  font-family: 'Kanit', sarif;
  color: #004C45;
}

.fun-safe .fs-03 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.fun-safe .fs-03 img {
  width: 90%;
}

.fun-safe .fs-04 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}

.fun-safe .fs-04 img {
  width: 90%;
}

.fun-safe .fs-05 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
}

.fun-safe .fs-05 .fs-05-cont .fs-05-cont-bar {
  text-align: left;
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #ff5100;
  margin-bottom: 17px;
  -webkit-transition: width 1s cubic-bezier(0.5, 0, 0.5, 1) 1s;
  transition: width 1s cubic-bezier(0.5, 0, 0.5, 1) 1s;
}

.fun-safe .fs-05 .fs-05-cont .fs-05-cont-txt {
  font-size: 30px;
  font-family: 'Kanit', sarif;
  color: #004C45;
}

@media all and (max-width: 1050px) {
  .index-banner-nav {
    display: none;
  }
  .index-banner .index-banner-img {
    position: relative;
    overflow-X: hidden;
  }
  .index-banner .index-banner-img img {
    width: 100%;
    height: 70vh;
    -webkit-transform: scaleX(3);
            transform: scaleX(3);
  }
  .index-banner .index-banner-img .index-banner-txt {
    background: white;
    height: 280px;
    width: 540px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index-banner .index-banner-img .index-banner-txt > * {
    margin: 5px;
    color: #224641;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-tit {
    font-size: 30px;
    font-family: 'Lora', serif;
    text-align: center;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-sub {
    font-size: 15px;
    text-align: center;
    font-family: 'Lora', serif;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-btn a {
    border: none;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-btn span {
    background-color: #E95722;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .index-des {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-des .index-des-vid {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .index-des .index-des-vid #vid-01 {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .index-des .index-des-text {
    padding-top: 10%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #D1D3D5;
    color: #004C45;
  }
  .index-des .index-des-text .index-des-text-tit {
    font-size: 16px;
    font-family: 'Tinos', sarif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 125px;
  }
  .index-des .index-des-text .index-des-text-des {
    font-size: 20px;
    font-family: 'Kiwi Maru', sarif;
    margin-left: 125px;
    width: 380px;
  }
  .index-promo {
    margin-top: 10%;
    height: 100%;
  }
  .index-promo .index-promo-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 60%;
    margin: auto;
  }
  .index-promo .index-promo-1 .index-promo-1-img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .index-promo .index-promo-1 .index-promo-1-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #224641;
  }
  .index-promo .index-promo-1 .index-promo-1-txt > * {
    margin: 20px 0;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-tit {
    font-family: 'Kanit', sarif;
    font-size: 35px;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-des {
    font-family: 'Kanit', sarif;
    font-size: 18px;
    width: 100%;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-btn {
    border: 1px solid #f44336;
    color: #f44336;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-family: 'Kanit', sarif;
    letter-spacing: 2px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-btn:hover {
    background-color: #f44336;
    color: white;
  }
  .index-promo .index-promo-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 60%;
    margin: 20px auto;
  }
  .index-promo .index-promo-2 .index-promo-2-img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .index-promo .index-promo-2 .index-promo-2-img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .index-promo .index-promo-2 .index-promo-2-txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #224641;
    margin-left: 0;
  }
  .index-promo .index-promo-2 .index-promo-2-txt > * {
    margin: 10px 0;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-tit {
    font-family: 'Kanit', sarif;
    font-size: 35px;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-des {
    font-family: 'Kanit', sarif;
    font-size: 20px;
    width: 100%;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-btn {
    border: 1px solid #f44336;
    color: #f44336;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-family: 'Kanit', sarif;
    letter-spacing: 2px;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-btn:hover {
    background-color: #f44336;
    color: white;
  }
  .fun-safe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fun-safe > * {
    margin-top: 20px;
  }
  .fun-safe .fs-01 img,
  .fun-safe .fs-03 img,
  .fun-safe .fs-04 img {
    width: 80%;
    margin: 0 10%;
  }
}

@media all and (max-width: 500px) {
  .index-banner .index-banner-img img {
    width: 100%;
    height: 100vh;
    -webkit-transform: scaleX(3);
            transform: scaleX(3);
  }
  .index-banner .index-banner-img .index-banner-txt {
    background: white;
    height: 280px;
    width: 340px;
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-tit {
    font-size: 30px;
    width: 250px;
  }
  .index-banner .index-banner-img .index-banner-txt .i-b-t-sub {
    font-size: 15px;
  }
  .index-des {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index-des .index-des-vid {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .index-des .index-des-vid #vid-01 {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .index-des .index-des-text {
    padding-top: 10%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .index-des .index-des-text .index-des-text-tit {
    font-size: 16px;
    font-family: 'Tinos', sarif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
  }
  .index-des .index-des-text .index-des-text-des {
    font-size: 20px;
    font-family: 'Kiwi Maru', sarif;
    margin-left: 20px;
  }
  .index-promo {
    margin-top: 10%;
    height: 100%;
  }
  .index-promo .index-promo-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 90%;
    margin: auto;
  }
  .index-promo .index-promo-1 .index-promo-1-img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .index-promo .index-promo-1 .index-promo-1-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #224641;
  }
  .index-promo .index-promo-1 .index-promo-1-txt > * {
    margin: 20px 0;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-tit {
    font-family: 'Kanit', sarif;
    font-size: 35px;
  }
  .index-promo .index-promo-1 .index-promo-1-txt .index-promo-1-txt-des {
    font-family: 'Kanit', sarif;
    font-size: 18px;
    width: 100%;
  }
  .index-promo .index-promo-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 20px auto;
  }
  .index-promo .index-promo-2 .index-promo-2-img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .index-promo .index-promo-2 .index-promo-2-img img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .index-promo .index-promo-2 .index-promo-2-txt {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
  }
  .index-promo .index-promo-2 .index-promo-2-txt > * {
    margin: 10px 0;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-tit {
    font-family: 'Kanit', sarif;
    font-size: 35px;
  }
  .index-promo .index-promo-2 .index-promo-2-txt .index-promo-2-txt-des {
    font-family: 'Kanit', sarif;
    font-size: 20px;
    width: 100%;
  }
  .fun-safe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fun-safe > * {
    margin-top: 20px;
  }
  .fun-safe .fs-01 img,
  .fun-safe .fs-03 img,
  .fun-safe .fs-04 img {
    width: 100%;
    margin: auto;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #003A34;
  color: white;
}

.footer > * {
  margin-top: 5%;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer-top .footer-top-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .footer-top-1 span {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer-top .footer-top-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .footer-top-2 span {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer-top .footer-top-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .footer-top-3 span {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer-top .footer-top-3 span a {
  color: white;
  text-decoration: none;
  padding: 2px 0;
  border-bottom: #ff5100 2px solid;
}

.footer .footer-top .footer-top-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-top .footer-top-4 span {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
}

.footer .footer-top .footer-top-4 .footer-top-4-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  border-bottom: 2px white solid;
}

.footer .footer-top .footer-top-4 .footer-top-4-mail .footer-top-4-txt input[type=email] {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: white;
  padding: 5px 0px;
  border: none;
  cursor: pointer;
}

.footer .footer-top .footer-top-4 .footer-top-4-mail .footer-top-4-svg svg {
  margin-left: 180px;
  fill: #ff5100;
  border: #ff5100 2px solid;
}

@media all and (max-width: 1050px) {
  .footer .footer-top {
    display: -ms-grid;
    display: grid;
    height: 40vh;
    width: 60%;
    margin: auto;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 150px;
        grid-template-rows: 150px;
    grid-gap: 10px;
  }
  .footer .footer-top .footer-top-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer .footer-top .footer-top-1 span {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .footer .footer-top .footer-top-2 span {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer .footer-top .footer-top-3 span {
    font-size: 12px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    font-size: 12px;
    margin: 0 10px;
    font-weight: 400;
  }
  .footer .footer-mid .footer-mid-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .footer .footer-top {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: minmax(100px, auto);
        grid-template-rows: minmax(100px, auto);
    grid-gap: 10px;
  }
  .footer .footer-top .footer-top-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer .footer-top .footer-top-1 span {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .footer .footer-top .footer-top-2 span {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer .footer-top .footer-top-3 span {
    font-size: 12px;
    font-weight: 400;
  }
  .footer .footer-top .footer-top-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    font-size: 12px;
    margin: 0 10px;
    font-weight: 400;
  }
  .footer .footer-mid .footer-mid-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.shop-banner-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  background-color: #FFF;
  height: 60px;
}

.shop-banner-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.shop-banner-nav ul li {
  list-style: none;
  margin: 1% 0;
}

#shop-whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-behavior: smooth;
}

#shop-whole .shop-Ptype h1 {
  text-align: center;
  text-transform: uppercase;
}

#shop-whole .shop-Ptype h3 {
  text-align: center;
}

#shop-whole .shop-Ptype .shop-Ptype-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-image {
  margin-top: 30px;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-image img {
  max-width: 240px;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-txt > * {
  margin-top: 10px;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-txt span:nth-child(1) {
  font-size: 23px;
  font-family: 'Roboto', sarif;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-txt span:nth-child(2) {
  font-size: 14px;
  font-family: 'Poppins', sarif;
  letter-spacing: 1px;
  width: 250px;
  text-align: center;
}

#shop-whole .shop-Ptype .shop-Ptype-grid .shop-Ptype-flex .shop-Ptype-flex-txt span:nth-child(3) {
  font-size: 16px;
  font-family: 'Kanit', sarif;
}

body {
  background-color: #FFFBF5;
}
/*# sourceMappingURL=style.css.map */